<div>
  <% users.each do |user| %>
    <div>
      <%= link_to user_path(user.id) do %>
        <%= image_tag user.get_profile_image(100,100) %><br>
        <%= user.name %>
        <%= render "relationships/btn", user: user %>
      <% end %>
    </div>
  <% end %>
</div>