<h1>Users Detail</h1>
<div>
  <h3>Name:<%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
    <%= link_to 'Plofile Edit',edit_user_path(@user) %>
  <% end %>
</div>

<%= render 'post_images/lists', post_images: @post_images %>